{{ define "main" }}
    <main>
        <h1 class="work-header">Work</h1>
        <ul class="work-index">
            <li class="title-illustration">
                    Illustration
            </li>
            {{ range where .Data.Pages "Params.work" "illustration" }}
            <li class="work-{{ .Params.indexclassname }}">
                <figure class="work-thumbnail">
                    <figcaption class="work-content">
                        <h2 class="work-title">{{ .Params.title }}</h2>
                    </figcaption>
                    <a href="{{ .Permalink }}"><img srcset="{{ .Site.BaseURL }}img/{{ .Params.imgfilename }}-1x.png, {{ .Site.BaseURL }}img/{{ .Params.imgfilename }}-2x.png 2x"></a>
                </figure>
            </li>
            {{ end }}
            
            <!-- {{ range .Data.Pages }}
            {{ if eq .Type "work" }}
            <li class="work-{{ .Params.indexclassname }}">
                <figure class="work-thumbnail">
                    <a href="{{ .Permalink }}"><img srcset="{{ .Site.BaseURL }}img/{{ .Params.imgfilename }}-1x.png, {{ .Site.BaseURL }}img/{{ .Params.imgfilename }}-2x.png 2x"></a>
                </figure>
            </li>
            {{ end }}
            {{ end }} -->
        </ul>
    </main>
{{ end }}
