@import "mixins";

html {
  box-sizing: border-box;
  font-size: 16px;
}

$color-main: #fcfcfc;
img {
  max-width: 100%;
}

ol, ul {
  list-style: none;
  padding: 0;
}

figure {
  margin: 0;
}

body {
  font-family: -apple-system, helvetica, sans-serif;
  background-color: $color-main;
}

h1, h2, h3, h4, h5, h6 {
  font-family: stratum-2-web;
  font-weight: 700;
}

.site-header {
  text-transform: uppercase;
  letter-spacing: .3em;
}

// .................................................... //
// Work index ......................................... //
// .................................................... //
.work>main {
  
}

.work-header {
  text-transform: uppercase;
  font-size: 6rem;
  color: #000;
  @include for-desktop-up {
    font-size: 20vh;
  }
}

.work li {
  margin: 1rem;
}

@supports (display: grid) {
  .work-index {
    display: grid;
    @include for-phone-only {
      grid-auto-rows: minmax(auto, auto);
      grid-gap: 2rem;
    }
    @include for-tablet-portrait-up {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2em;
      grid-template-areas:
        "1 c c"
        "a b ."
        "e e ."
        "g h ."
        ". i i"
        ". k l"
        "j j ."
        "m m ."
        ". n o"
        "p p ."
        ". q r"
        "s t u"
        ". d d"
        ". . f";
    }
  }
  
  .work li {
    margin: 0;
  }

  // illustration
  .title-illustration {
    display: flex;
    text-transform: uppercase;
    font-family: stratum-2-web;
    font-weight: 200;
    font-size: 1.2rem;
    color: #a0a0a0;
    
    
    @include for-tablet-portrait-up {
      grid-area: 1;
      transform: rotate(-90deg);
      align-items: center;
      padding: 0 4rem;
      font-size: 2rem;
      letter-spacing: .3rem;
    }
  }

  .work-augmentedrealitydanger {
    @include for-tablet-portrait-up {
      grid-area: a;
    }
  }

  .work-spacejunk {
    @include for-tablet-portrait-up {
      grid-area: c;
    }
  }

  .work-bigdatasecurity {
    @include for-tablet-portrait-up {
      grid-area: b;
    }
  }

  .work-oculus-rift {
    @include for-tablet-portrait-up {
      grid-area: d;
    }
  }

  .work-creativecomputers {
    @include for-tablet-portrait-up {
      grid-area: e;
    }
  }

  .work-technologypolicy {
    @include for-tablet-portrait-up {
      grid-area: f;
    }
  }

  .work-impactofmedia {
    @include for-tablet-portrait-up {
      grid-area: g;
    }
  }

  .work-newcar {
    @include for-tablet-portrait-up {
      grid-area: h;
    }
  }

  .work-numberslakers {
    @include for-tablet-portrait-up {
      grid-area: i;
    }
  }

  .work-numbersshotlink {
    @include for-tablet-portrait-up {
      grid-area: j;
    }
  }

  .work-getcryphy {
    @include for-tablet-portrait-up {
      grid-area: k;
    }
  }

  .work-visionsforspace {
    @include for-tablet-portrait-up {
      grid-area: l;
    }
  }

  .work-styleshifters {
    @include for-tablet-portrait-up {
      grid-area: m;
    }
  }

  .work-ibmpuredata {
    @include for-tablet-portrait-up {
      grid-area: n;
    }
  }

  .work-weirdtales {
    @include for-tablet-portrait-up {
      grid-area: o;
    }
  }

  .work-quantjunkies {
    @include for-tablet-portrait-up {
      grid-area: p;
    }
  }

  .work-autointel {
    @include for-tablet-portrait-up {
      grid-area: q;
    }
  }
  .work-integratedcircuit {
  
  }
  
  .work-norad {
    
  }
  
  .work-leak {
    
  }
  
  .work-transformation img {
    max-width: 70%;
  }
}


